<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li>상품 관리
        <ul>
            <li><a  th:href="@{/basic/items}" href="/basic/items">상품 관리 - 기본</a></li>
            <li><a  th:href="@{/basic/items/pageAll}" href="/basic/items/pageAll">상품 관리 </a></li>
            <li sec:authorize="isAnonymous()"><a  th:href="@{/login}" href="/login">로그인 하기</a></li>
            <li sec:authorize="isAuthenticated()"><a  th:href="@{/logout}" href="/login">로그 아웃</a></li>
            <li sec:authorize="isAnonymous()"><a th:href="@{/signup}">회원 가입</a></li>
        </ul>
    </li>
</ul>
</body>
</html>